/* Home.css */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
}

.form-container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border: solid 1px #069992;
} 
.form-container2 {
    width: 100%;
    height: 290px;
    max-width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border: solid 1px #069992;
}
.form-container3 {
    width: 100%;
    height: 295px;
    max-width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border: solid 1px #069992;
}

.heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 30px;
    color: #00c3c0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.text-input {
    flex: 1;
    padding: 10px 5px;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 18px;
    color: #555;
    background-color: transparent;
    transition: border-color 0.3s, background-color 0.3s;
}

/* Estilo cuando el input está enfocado */
.text-input:focus {
    border-bottom: 2px solid #b0a0b7;
    outline: none;
}

.task-item-style-input:focus-within {
    border-color: #b0a0b7;
    box-shadow: 0 0 8px rgba(176, 160, 183, 0.3);
    outline: none;
}
.text-clear {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;


}

.button {
    background-color: #00f3d2;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #9010be;
    transform: scale(1.05);
    color: #fff;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    color: #555;
}

.delete-icon {
    font-size: 20px;
    color: #ff4d4d;
    cursor: pointer;
    transition: color 0.3s;
    /* justify-content: end;
    display: flex; */
}

.delete-icon:hover {
    color: #e60000;
}

.task-count {
    font-size: 16px;
    color: #aaa;
    text-align: left;
}

.empty-message {
    text-align: center;
    color: #888;
    font-size: 14px;
    margin-top: 20px;
}